.mainClothing {
    width: 100%;        
}

.containerClothing {
    width: 80%;
    max-width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% auto;
    gap: 10px;
}

.menuClothing {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titleClothing {
    display: flex;
    gap: 10px;
}

.titleClothing h2 {
    color: var(--blue);
    font-weight: 400;
    font-size: clamp(22px, 3vw, 26px);
}

.orderContainerClothing {
    display: flex;
    align-items: center;
    gap: 7px;
    white-space: nowrap;
}

.orderTextCloting{
    font-size: 0.9rem;
    font-weight: 200;
}

.orderContainerClothing select {
    background-color: transparent;
}

.orderWrapperClothing {
    border-radius: 4px;
    padding: 1px 5px;
    cursor: pointer;
    outline: none;
    text-align: center;
}

.orderWrapperClothing p {
    font-weight: normal;
    font-family: "Poppins", sans-serif;
}

.contentClothing {
    width: 100%;
    overflow: hidden;
}

.itemClothing {
    height: 100%;
    min-height: 350px;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 4px;
}

.infoClothing {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 2px;
}

.infoClothing img {
    width: 100%;
    max-width: 180px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.nameClothing {
    text-align: center;
}

.markNameClothing {
    color: var(--black);
    font-weight: 200;
    font-size: 0.9rem;
}

.titleNameClothing {
    color: var(--blue);
    font-weight: 500;
}

.moedaClothing {
    font-size: 1.1rem;
}

.priceClothing {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
}

.parcelaClothing {
    font-size: 0.8rem;
    font-weight: 300;
}

.buttonClothing {
    border: none;
    outline: none;
    font-weight: normal;
    padding: 7px 12px;
    background-color: transparent;
    border-radius: 4px;
    color: var(--red);
    border: 1px solid var(--red);
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden; 
}

.gridClothing {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

/* Hover's */
.infoClothing img:hover {
    transform: scale(1.02);
}

.buttonClothing:hover {
    transform: scale(1.02);
}

/* Medias queries */
@media (max-width: 1024px) {
    .gridClothing {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 768px) {
    .gridClothing {
        grid-template-columns: repeat(2, 1fr);
    }

    .titleClothing {
        flex-direction: column;
        gap: 0;
        align-items: flex-start;
    }

    .titleClothing h2 + h2 {
        margin-top: -9px;
    }

    .orderWrapperClothingothing {
        padding: 1px 2px;
    }

    .orderContainerClothing {
        flex-direction: column;
        gap: 0;
    }
    .orderTextCloting {
        display: none;
    }
}

@media (max-width: 480px) {
    .gridClothing {
        grid-template-columns: 1fr;
    }
}