.mainHelmets {
    width: 100%;
}

.containerHelmets {
    width: 80%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 2% auto;
}

.titleHelmets h2 {
    color: var(--blue);
    font-weight: normal;
}

.titleHelmets h2,
.titleHelmets p {
    text-align: center;
}

.sliderHelmets {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.contentHelmets {
    width: 100%;
    overflow: hidden;
}

.itemHelmets {
    height: 100%;
    min-height: 350px;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    border-radius: 4px;
}

.infoHelmets {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 2px;
}

.infoHelmets img {
    width: 100%;
    max-width: 130px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}
.nameHelmets {
    text-align: center;
}

.markNameHelmets {
    color: var(--black);
    font-weight: 200;
    font-size: 0.9rem;
}

.titleNameHelmets {
    color: var(--blue);
    font-weight: 500;
}

.moedaHelmets {
    font-size: 1.1rem;
}

.priceHelmets {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
}

.parcelaHelmets {
    font-size: 0.8rem;
    font-weight: 300;
}

.buttonHelmets {
    border: none;
    outline: none;
    font-weight: normal;
    padding: 7px 12px;
    background-color: transparent;
    border-radius: 4px;
    color: var(--red);
    border: 1px solid var(--red);
    cursor: pointer;
    transition: transform ease-in-out 0.2s;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden; 
}

.arrowLeft svg,
.arrowRight svg {
    color: var(--red);
}

/* Hover's */
.infoHelmets img:hover {
    transform: scale(1.02);
}

.buttonHelmets:hover {
    transform: scale(1.02);
}