.containerPromotions {
  display: flex;
  width: 95%;
  max-width: 1400px;
  margin: auto;
  gap: 10px;
  flex-wrap: wrap;
}

.large {
  position: relative;
  flex: 2;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  background-color: var(--red);
  display: flex;
  align-items: center;
  justify-content: center;
}

.large img,
.small img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.smallContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.small {
  position: relative;
  flex: 1;
  aspect-ratio: 16 / 9;
  border-radius: 4px;
  background-color: var(--blue);
  display: flex;
  align-items: center;
  justify-content: center;
}

:global(.swiper-pagination) {
  bottom: 10px !important;
  text-align: center;
}

:global(.swiper-pagination-bullet) {
  background: #ccc !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
  margin: 0 4px !important;
  border-radius: 50%;
  transition: background 0s ease-in-out;
}

:global(.swiper-pagination-bullet-active) {
  background: var(--red) !important;
}
