header {
    width: 100%;
    min-height: 135px;
    display: flex;
}

.containerHeader{
    width: 80%;
    max-width: 1300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.navTwo {
    display: flex;
    gap: 15px;
}

.navButtons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.navButtons a {
    color: var(--blue);
    text-decoration: none;
    position: relative;
}

.navButtons a:nth-child(4) {
    color: white;
    background-color: var(--red);
    border-radius: 4px;
    padding: 0.8px 4px;
    transition: transform ease-in-out 0.2s;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden; 
}

.navButtons a:nth-child(4)::after {
    content: none;
}

.navButtons a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 0%;
    background-color: var(--red);
}

.navButtons .navLink {
    cursor: pointer;
}

.navSocials {
    display: flex;
    gap: 10px;
}

.navSocials a {
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50%;
    transition: transform ease-in-out 0.2s;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden; 
}

/* Hover's */
.navButtons a:hover {
    content: '';
}

.navButtons a:nth-child(4):hover {
    transform: scale(1.02);
}

.navButtons a:hover::after {
    width: 100%;
}

.navSocials a:hover {
    transform: scale(1.10);
}

@media screen and (max-width: 768px) {
    header {
        min-height: 90px;
    }

    .containerHeader {
        justify-content: center;
    }
    
    .navTwo {
        display: none;
    }
}