.mainPartsTwo {
    width: 100%;
}

.containerPartsTwo {
    width: 80%;
    max-width: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 3% auto;
}

.sliderPartsTwo {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentPartsTwo {
    width: 100%;
    overflow: hidden;
}

.itemPartsTwo {
    height: 100%;
    min-height: 350px;
    border: 1px solid var(--black);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.infoPartsTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0 2px;
}

.infoPartsTwo img {
    width: 100%;
    max-width: 160px;
    height: auto;
    transition: transform 0.2s ease-in-out;
}

.namePartsTwo {
    text-align: center;
}

.markNamePartsTwo {
    color: var(--black);
    font-weight: 200;
    font-size: 0.9rem;
}

.titleNamePartsTwo {
    color: var(--blue);
    font-weight: 500;
}

.moedaPartsTwo {
    font-size: 1.1rem;
}

.pricePartsTwo {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    text-align: center;
}

.parcelaPartsTwo {
    font-size: 0.8rem;
    font-weight: 300;
}

.buttonContainer {
    width: 100%;
    padding: 0 15px;
    text-decoration: none;
}

.buttonPartsTwo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 0.9rem;
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    border: 1px solid rgb(53, 53, 53);
    color: rgb(53, 53, 53);
    background-color: transparent;
}

.arrowLeft svg,
.arrowRight svg {
    color: var(--red);
}

/* Hover's */
.infoPartsTwo img:hover {
    transform: scale(1.02);
}

.buttonPartsTwo:hover {
    background-color: rgb(53, 53, 53);
    color: white;
}