.mainAbout {
    width: 100%;
}

.containerAbout {
    width: 95%;
    max-width: 1400px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0;
}

.titleAbout {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 3%;
    text-align: center;
}

.titleAbout h2 {
    color: var(--blue);
    font-weight: normal;
    white-space: nowrap;
    margin: 0;
    padding: 0 20px;
}

.titleAbout::before,
.titleAbout::after {
    content: "";
    flex: 1;
    height: 1px;
    background-color: var(--black);
    opacity: 0.7;
}

.contentAbout {
    background-color: var(--red);
    width: 100%;
    min-height: 350px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.textAbout {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.textAbout p {
    width: 80%;
    text-align: justify;
    color: var(--white);
    font-weight: 200;
    font-size: 0.9rem;
}

.imageAbout {
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imageAbout img {
    width: 100%;
    height: auto;
    object-fit: fill;
}

@media screen and (max-width: 768px) {
  .textAbout {
    width: 100%;
  }

  .imageAbout {
    display: none;

  }
}